@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

    .sidebar-icon {
        @apply relative flex items-center 
        justify-center h-12 w-12
        mx-auto shadow-lg bg-gray-600 hover:bg-gray-500 text-emerald-400
        rounded-3xl hover:rounded-xl
        transition-all duration-300 
    }

    .sidebar {
        @apply lg:fixed lg:top-0 sticky top-0
        lg:my-16 flex lg:w-16 lg:flex-col 
        lg:gap-2 lg:rounded-r-md gap-6
         bg-gray-700 lg:py-8 py-2
         lg:shadow-2xl shadow-slate-900
         rounded-none justify-center
    }
    .image {
        @apply mx-auto h-[324px] w-auto rounded-2xl p-1 md:h-[520px]
    }
}